{% extends 'home_bp/base.jinja' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block bodyheading %}
    <h1 class="text-white font-weight-black pt-3 mt-n5">The VEDB Toolbox</h1>
    <p class="lead text-white mt-3">CS 426 Senior Projects - Spring 2025<br/>University of Nevada, Reno - Computer Science & Engineering</p>
{% endblock %}


{% block content %}
<section class="">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 mb-md-0 mb-4">
                <h3>What is the VEDB?</h3>
                <p class="lead mb-md-5 mb-4">
                    Formally known as the Visual Experience Database, the VEDB contains 717 session of individuals performing daily tasks.
                    Through the use of a custom-designed headset, a recorded session consists of a world-view video and two eye-view videos,
                    as well as various forms of collected data. This dataset mirrors similar efforts by Meta (among others), who uses their's
                    for product development.
                    
                </p>
                <p><span class="me-2">&#9679;</span> Showcase and embed your work with</p>
                <p><span class="me-2">&#9679;</span> Publish across social channels in a click</p>
                <p><span class="me-2">&#9679;</span> Sell your videos worldwide</p>
                <p><span class="me-2">&#9679;</span> Make more profit</p>
            </div>
            <div class="col-md-6">
                <div class="blur-shadow-image text-center">
                    <img src="../../assets/img/examples/blog2.jpg" alt="img-shadow" class="img-fluid shadow-xl border-radius-lg max-height-500" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 text-center mx-auto">
                <p class="mb-1 text-success text-uppercase font-weight-bold">Our Work</p>
                <h3>Some of our awesome projects - 1</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 position-relative">
                <img class="image-left border-radius-lg img-fluid shadow position-relative top-0 end-0 ms-md-5 bg-cover" src="../../assets/img/examples/testimonial-6-2.jpg" />

                <p class="blockquote border border-success rounded w-50 p-3 text-sm text-success float-md-end mx-auto mt-4 me-md-n2">
                    "Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                    <br />
                    <br />
                    <small>-NOAA</small>
                </p>
            </div>
            <div class="col-md-5">
                <!-- First image on the right side, above the article -->
                <img class="image-right border-radius-lg img-fluid shadow ms-md-n4 mb-4 mt-md-8 position-relative bg-cover" src="../../assets/img/examples/content-5.jpg" />
                <div class="px-4">
                    <p class="text-gradient text-success">Design</p>
                    <h3 class="mb-4">Jeff Bezos</h3>
                    <p>
                        For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches
                        and temperatures rise.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 position-relative">
                <img class="image-left border-radius-lg img-fluid shadow position-relative top-0 end-0 ms-md-5 bg-cover" src="../../assets/img/examples/content-4.jpg" />
                <p class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mt-4 me-md-n2 mx-auto">
                    "Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                    <br />
                    <br />
                    <small>-NOAA</small>
                </p>
            </div>
            <div class="col-md-5">
                <!-- First image on the right side, above the article -->
                <img class="image-right border-radius-lg img-fluid shadow ms-md-n4 mb-4 mt-md-8 position-relative bg-cover" src="../../assets/img/examples/testimonial-6-3.jpg" />
                <div class="px-4">
                    <p class="text-gradient text-primary">Development</p>
                    <h3 class="mb-4">Mike Alfonso</h3>
                    <p>
                        For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches
                        and temperatures rise.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}