{% extends 'home/base.jinja' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block bodyheading %}
    <h1 class="text-white font-weight-black pt-3 mt-n5">The VEDB Toolbox</h1>
    <p class="lead text-white mt-3">CS 426 Senior Projects - Spring 2025<br/>University of Nevada, Reno - Computer Science & Engineering</p>
{% endblock %}


{% block content %}
<section class="">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 mb-md-0 mb-4">
                <h3>What is the VEDB?</h3>
                <p class="lead mb-md-5 mb-4">
                    The Visual Experience Database (VEDB) consists of over 717 sessions of individuals performing daily tasks.
                    It includes world-view and eye-view videos captured with a custom headset, along with collected data.
                    It aims to offer insight into human visual experience, providing a valuable resource for advancing research in visual perception.
                    Applications include:
                </p>
                <p><span class="me-2">&#9679;</span> Gaze tracking in head-fixed and head-free contexts</p>
                <p><span class="me-2">&#9679;</span> Spatiotemporal image analysis </p>
                <p><span class="me-2">&#9679;</span> Deep neural network improvements for scene and activity recognition</p>
                <p><span class="me-2">&#9679;</span> Product development involving human-computer interaction</p>
            </div>
            <div class="col-md-6">
                <div class="blur-shadow-image text-center">
                    <img src="{{ url_for('static', filename='home/img/headset.png') }}" alt="img-shadow" class="img-fluid shadow-xl border-radius-lg max-height-500" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="blur-shadow-image text-center">
                    <img src="{{ url_for('static', filename='home/img/visualizer.jpg') }}" alt="img-shadow" class="img-fluid shadow-xl border-radius-lg max-height-500" />
                </div>
            </div>
            <div class="col-md-6 mb-md-0 mb-4">
                <h3>How do we fit in?</h3>
                <p class="lead mb-md-5 mb-4">
                    Admittedly, VEDB session data not particularly intuitive nor easy to understand; not everyone is a computer scientist, after all.
                    In response, our team has developed an open-source Toolbox of Python applications which aim to provide an accessible and efficient tool for visualizing/analyzing a session's eye and head movement data.
                    This component, the web app, offers:
                </p>
                <p><span class="me-2">&#9679;</span> A user-friendly interface for synchronized video playback and data visualization </p>
                <p><span class="me-2">&#9679;</span> A secure system for uploading sessions for later consumptions </p>
                <p><span class="me-2">&#9679;</span> Python-based interactive graph generation </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
