# Flask bits
Flask
Flask_Minify # compress webpage stuff for better serving

# Flask login and file-upload system
Flask-Login
SQLAlchemy
Flask-SQLAlchemy
WTForms
Flask_WTF
Flask-Dropzone

# production-ready WSGI server
gunicorn

Werkzeug
requests
