{% extends 'file_upload/base.jinja' %}

{% block header %}
    <h1>{% block title %}File Upload{% endblock %}</h1>
{% endblock %}

{% block css %}
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- video upload and data upload side-by-side -->
    <section>
        <div class="container py-4">
            <div class="row justify-content-center">
                <!-- notice about file upload -->
                                    <div class="alert alert-warning alert-dismissible text-white fade show" role="alert">
                            <strong>Notice!</strong> You must upload both video and data files before proceeding to the visualizer
                            <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                <!-- Video Upload Card -->
                <div class="col-lg-6 d-flex justify-content-center flex-column mb-4 mb-lg-0">
                    <div class="card d-flex justify-content-center p-4 shadow-lg">
                        <div class="text-center">
                            <h3 class="text-gradient text-primary">Video Upload</h3>
                            <p class="mb-0">
                                Session videos are available on Databrary via the link under Project Resources.
                                You can download a .ZIP file (containing 3 .MP4s and 1 .CSV), and upload its contents.
                                Alternatively, simply input the .ZIP file link into the form.
                            </p>
                        </div>

                        <div class="nav-wrapper position-relative end-0 mt-4">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       data-bs-toggle="tab"
                                       href="#dtb_file_upload"
                                       role="tab"
                                       aria-selected="true">
                                        <i class="material-symbols-rounded text-sm me-2">folder_open</i> File Upload
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       data-bs-toggle="tab"
                                       href="#dtb_url_entry"
                                       role="tab"
                                       aria-selected="false">
                                        <i class="material-symbols-rounded text-sm me-2">public</i> URL Entry
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content mt-4">
                            <div class="tab-pane fade show active" id="dtb_file_upload" role="tabpanel">
                                <input type="dtb_file_upload" />
                            </div>

                            <div class="tab-pane fade" id="dtb_url_entry" role="tabpanel">
                                <form role="form" method="post" autocomplete="off">
                                    <div class="card-body pb-2">
                                        <div class="input-group input-group-static mb-4">
                                            {{ databraryurl.csrf_token }}
                                            {{ databraryurl.url.label(class="form-label") }}
                                            {{ databraryurl.url(class="form-control", aria_label="Databrary URL") }}
                                            {% for error in databraryurl.url.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-center">
                                            {{ databraryurl.submit(class="btn bg-gradient-dark mt-3 mb-0") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Data Upload Card -->
                <div class="col-lg-6 d-flex justify-content-center flex-column">
                    <div class="card d-flex justify-content-center p-4 shadow-lg">
                        <div class="text-center">
                            <h3 class="text-gradient text-primary">Data Upload</h3>
                            <p class="mb-0">
                                Download the session sensor data (.ZIP with .NPY and .PLDATA files) from the OSF link under Project Resources,
                                then upload its contents here. Also upload the gaze.npz file from the processedGaze folder.
                                Alternatively, paste the ZIP file URL below.
                            </p>
                        </div>

                        <div class="nav-wrapper position-relative end-0 mt-4">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       data-bs-toggle="tab"
                                       href="#osf_file_upload"
                                       role="tab"
                                       aria-selected="true">
                                        <i class="material-symbols-rounded text-sm me-2">folder_open</i> File Upload
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       data-bs-toggle="tab"
                                       href="#osf_url_entry"
                                       role="tab"
                                       aria-selected="false">
                                        <i class="material-symbols-rounded text-sm me-2">public</i> URL Entry
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content mt-4">
                            <div class="tab-pane fade show active" id="osf_file_upload" role="tabpanel">
                                <input type="osf_file_upload" />
                            </div>

                            <div class="tab-pane fade" id="osf_url_entry" role="tabpanel">
                                <form role="form" method="post" autocomplete="off">
                                    <div class="card-body pb-2">
                                        <div class="input-group input-group-static mb-4">
                                            {{ osfurl.csrf_token }}
                                            {{ osfurl.url.label(class="form-label") }}
                                            {{ osfurl.url(class="form-control", aria_label="OSF URL") }}
                                            {% for error in osfurl.url.errors %}
                                                <div class="text-danger">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-center">
                                            {{ osfurl.submit(class="btn bg-gradient-dark mt-3 mb-0") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if data_submitted and videos_submitted %}
    <section>
        <div class="container py-1 mt-3">
            <div class="row justify-space-between text-center py-2">
                <div class="col-12 mx-auto">
                    <form method="POST" action="{{ url_for('visualizer.visualizer') }}">
                        {{ visualizer_button.hidden_tag() }}
                        <button type="submit" class="btn bg-gradient-dark btn-icon btn-lg" name="{{ visualizer_button.submit.name }}">
                            <div class="d-flex align-items-center">
                                {{ visualizer_button.submit.label.text }}
                                <i class="material-symbols-rounded ms-2" aria-hidden="true">developer_board</i>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script>
    // Get a reference to the file input element
    const osf_file_upload_input_element = document.querySelector('input[type="osf_file_upload"]');
    const dtb_file_upload_input_element = document.querySelector('input[type="dtb_file_upload"]');

    // Create a FilePond instance
    const osf_pond = FilePond.create(osf_file_upload_input_element);
    const dtb_pond = FilePond.create(dtb_file_upload_input_element);
</script>
{% endblock %}
