{% extends 'user_auth/base.jinja' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block header %}
  <h1>{% block title %}Landing{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="py-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <div class="nav-wrapper position-relative end-0">
            <!-- Tabs Navigation -->
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
              <!-- Login Tab -->
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
                  Login
                </a>
              </li>
              <!-- Sign-up Tab -->
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">
                  Sign-up
                </a>
              </li>
            </ul>
          </div>
          <!-- Tab Content -->
          <div class="tab-content mt-4">
            <!-- Login Form -->
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              {{ render_form(login_form) }}
            </div>

            <!-- Sign-up Form -->
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
              {{ render_form(register_form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
