{% extends 'visualizer/base.jinja' %}

{% block header %}
  <h1>{% block title %}Visualizer{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row g-4">
    <!-- Videos Side-by-Side -->
    <div class="col-lg-8">
    <div class="video-box">
        <div class="row">
        <!-- World Video (Left) -->
        <div class="col-md-8 d-flex justify-content-center align-items-center">
            <video id="worldvideo" width="100%" height="auto">
            <source src="{{ world_path }}" type="video/mp4">
            Your browser does not support video.
            </video>
        </div>

        <!-- Eye Videos (Right) -->
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center gap-3">
            <video id="eye0video" width="100%" height="auto">
            <source src="{{ eye0_path }}" type="video/mp4">
            Your browser does not support video.
            </video>
            <video id="eye1video" width="100%" height="auto">
            <source src="{{ eye1_path }}" type="video/mp4">
            Your browser does not support video.
            </video>
        </div>
        </div>
    </div>

    <!-- Controls Box -->
    <div class="controls_container mt-4">
        <div class="seek-container">
        <input type="text" class="video-times form-control" id="currentTime" readonly>
        <input type="range" class="seek-bar form-range" id="seek-bar" value="0">
        <input type="text" class="video-times form-control" id="totalTime" readonly>
        </div>
        <div class="button_container d-flex justify-content-center">
        <button class="btn btn-outline-dark rounded-circle p-2" type="button" data-bs-toggle="tooltip" title="Rewind 10s" onclick="skip_10_backward()">
            <i class="material-symbols-rounded fs-4">fast_rewind</i>
        </button>
        <button class="btn btn-outline-dark rounded-circle p-2 mx-2" type="button" data-bs-toggle="tooltip" title="Play" onclick="play()">
            <i class="material-symbols-rounded fs-4">play_arrow</i>
        </button>
        <button class="btn btn-outline-dark rounded-circle p-2" type="button" data-bs-toggle="tooltip" title="Pause" onclick="pause()">
            <i class="material-symbols-rounded fs-4">pause</i>
        </button>
        <button class="btn btn-outline-dark rounded-circle p-2 mx-2" type="button" data-bs-toggle="tooltip" title="Stop" onclick="stop_video()">
            <i class="material-symbols-rounded fs-4">stop</i>
        </button>
        <button class="btn btn-outline-dark rounded-circle p-2" type="button" data-bs-toggle="tooltip" title="Forward 10s" onclick="skip_10_forward()">
            <i class="material-symbols-rounded fs-4">fast_forward</i>
        </button>
        </div>
    </div>
    </div>

    <!-- Graphs -->
    <div class="col-lg-4">
    <div class="graph_container">
        <div id="linear_velocity">Linear Velocity Graph</div>
        <div id="angular_velocity">Angular Velocity Graph</div>
        <div id="gaze">Gaze Graph</div>
    </div>
    </div>
</div>
</div>
{% endblock %}

{%  block js %}
    <!-- plotly, very important -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- local, visualizer -->
    <script src="{{ url_for('static',filename='javascript/visualizer.js') }}"></script>
    <script type="text/javascript">
        // var linear_graph = {{linear_vel_JSON | safe}};
        // var angular_graph = {{angular_vel_JSON | safe}};
        // var gaze_graph = {{gaze_JSON | safe}}

        // Assigning variables passed in through render_template on the backend
        var velocityTimestamps = {{velocity_timestamps | safe}};

        var linear0 = {{linear_0 | safe}};
        var linear1 = {{linear_1 | safe}};
        var linear2 = {{linear_2 | safe}};

        var angular0 = {{angular_0 | safe}};
        var angular1 = {{angular_1 | safe}};
        var angular2 = {{angular_2 | safe}};

        var leftGazeTime = {{left_gaze_timestamps | safe}};
        var leftNormX = {{left_norm_pos_x | safe}};
        var leftNormY = {{left_norm_pos_y | safe}};

        var rightGazeTime = {{right_gaze_timestamps | safe}};
        var rightNormX = {{right_norm_pos_x | safe}};
        var rightNormY = {{right_norm_pos_y | safe}};

        // Plotly.plot("linear_velocity", linear_graph, {});
        // Plotly.plot("angular_velocity", angular_graph, {});
        // Plotly.plot("gaze", gaze_graph, {});

        // initial values
        initTimelist = [velocityTimestamps[0], velocityTimestamps[1]];
        initLinVel0 = [linear0[0], linear0[1]];
        initLinVel1 = [linear1[0], linear1[1]];
        initLinVel2 = [linear2[0], linear2[1]];

        const trace1 = {
            x: velocityTimestamps,
            y: linear0,
            mode: 'lines',
            name: 'Linear Velocity 0'
        }
        const trace2 = {
            x: velocityTimestamps,
            y: linear1,
            mode: 'lines',
            name: 'Linear Velocity 1'
        }
        const trace3 = {
            x: velocityTimestamps,
            y: linear2,
            mode: 'lines',
            name: 'Linear Velocity 2'
        }

        const linearData = [trace1, trace2, trace3];

        const linearLayout = {
            title: 'Linear Velocity',
            xaxis: {title: 'Time', range: [-2, 2]},
            yaxis: {title: 'Linear Velocity'},
            height: 257,
            width: 500
        }

        Plotly.plot('linear_velocity', linearData, linearLayout);

        const trace4 = {
            x: velocityTimestamps,
            y: angular0,
            mode: 'lines',
            name: 'Angular Velocity 0'
        }
        const trace5 = {
            x: velocityTimestamps,
            y: angular1,
            mode: 'lines',
            name: 'Angular Velocity 1'
        }
        const trace6 = {
            x: velocityTimestamps,
            y: angular2,
            mode: 'lines',
            name: 'Angular Velocity 2'
        }

        const angularData = [trace4, trace5, trace6];

        const angularLayout = {
            title: 'Angular Velocity',
            xaxis: {title: 'Time', range: [-2, 2]},
            yaxis: {title: 'Angular Velocity'},
            height: 257,
            width: 500
        }

        Plotly.plot('angular_velocity', angularData, angularLayout);

        const trace7 = {
            x: leftGazeTime,
            y: leftNormX,
            mode: 'lines',
            name: 'Left Norm Pos X'
        }

        const trace8 = {
            x: leftGazeTime,
            y: leftNormY,
            mode: 'lines',
            name: 'Left Norm Pos Y'
        }

        const trace9 = {
            x: rightGazeTime,
            y: rightNormX,
            mode: 'lines',
            name: 'Right Norm Pos X'
        }

        const trace10 = {
            x: rightGazeTime,
            y: rightNormY,
            mode: 'lines',
            name: 'Right Norm Pos Y'
        }

        const gazeData = [trace7, trace8, trace9, trace10];

        const gazeLayout = {
            title: 'Normalized Gaze Positions',
            xaxis: {title: 'Time', range: [-2, 2]},
            yaxis: {title: 'Normalized Position'},
            height: 257,
            width: 500
        }

        Plotly.plot('gaze', gazeData, gazeLayout);
    </script>
{% endblock %}
